 .search-bar{
     border:2px solid gray;
     border-radius:2px;
    background-color:tan;
    margin-bottom: 20px;
    padding: 20px
} 
.search-bar form{
    width: 100%;
    margin-top: 2px;
}
.search{
    width:60%;
    padding: 10px;
    border-radius: 5px;
}
#dropdown{
    color: black
}
.signin{
    color: white;
    list-style: none;
    text-decoration: none;
}