.roundimg img{
    border-radius: 80px;
    margin-left: 60px;
}
li h5{
    margin-left: 220px;
}
.images{
 margin-left: 20px;
}
.pamplets{   
    background-color: plum;
    padding:40px
}